h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Playfair Display', serif;
}

input{
  font-family: 'Playfair Display', serif;
  border: 0px;
}

textarea{
  font-family: 'Playfair Display', serif;
  border: 0px;
}

button{
  font-family: 'Playfair Display', serif;
}
